pkgbase = beeper-beta-bin
	pkgdesc = A unified messaging app
	pkgver = 4.0.747
	pkgrel = 1
	url = https://beeper.com/
	arch = x86_64
	license = LicenseRef-beeper
	provides = beeper
	conflicts = beeper
	options = !strip
	options = !debug
	source = beeper-beta-bin-4.0.747.AppImage::https://beeper-desktop.download.beeper.com/builds/Beeper-4.0.747.AppImage
	source = beeper.desktop
	sha256sums = 78b371b810a6defcc6ffdd2666c4025489c6bbc94c3ebafefd40401e3faf189e
	sha256sums = 05832b3a54e5a08cb48cad8f1be598be2fd3d2b538c3b000f698c4704c3c24fd

pkgname = beeper-beta-bin
	depends = hicolor-icon-theme
